// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.1.200.1
// Netlist written on Wed Nov 29 23:42:09 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/github/neoobscura/software/fpga/address_decoder/source/impl_1/top.sv"
// file 3 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 23 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 24 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 25 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 26 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 27 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module decoder
//

module decoder (input [1:0]addr, output [3:0]sel);
    
    
    wire GND_net, VCC_net, addr_c_1, addr_c_0;
    (* lineinfo="@2(5[17],5[29])" *) wire [3:0]inverted_sel;
    
    (* lineinfo="@2(3[27],3[30])" *) OB \sel_pad[3]  (.I(inverted_sel[3]), 
            .O(sel[3]));
    (* lut_function="(A+(B))", lineinfo="@2(10[9],15[16])" *) LUT4 addr_c_0_I_0 (.A(addr_c_0), 
            .B(addr_c_1), .Z(inverted_sel[0]));
    defparam addr_c_0_I_0.INIT = "0xeeee";
    (* lut_function="((B)+!A)", lineinfo="@2(7[18],7[31])" *) LUT4 addr_c_0_I_0_4 (.A(addr_c_0), 
            .B(addr_c_1), .Z(inverted_sel[1]));
    defparam addr_c_0_I_0_4.INIT = "0xdddd";
    (* lut_function="(A+!(B))", lineinfo="@2(10[9],15[16])" *) LUT4 addr_c_0_I_0_3 (.A(addr_c_0), 
            .B(addr_c_1), .Z(inverted_sel[2]));
    defparam addr_c_0_I_0_3.INIT = "0xbbbb";
    VLO i24 (.Z(GND_net));
    (* lut_function="(!(A (B)))", lineinfo="@2(7[18],7[31])" *) LUT4 addr_c_0_I_0_2 (.A(addr_c_0), 
            .B(addr_c_1), .Z(inverted_sel[3]));
    defparam addr_c_0_I_0_2.INIT = "0x7777";
    (* lineinfo="@2(3[27],3[30])" *) OB \sel_pad[2]  (.I(inverted_sel[2]), 
            .O(sel[2]));
    (* lineinfo="@2(3[27],3[30])" *) OB \sel_pad[1]  (.I(inverted_sel[1]), 
            .O(sel[1]));
    (* lineinfo="@2(3[27],3[30])" *) OB \sel_pad[0]  (.I(inverted_sel[0]), 
            .O(sel[0]));
    (* lineinfo="@2(2[27],2[31])" *) IB \addr_pad[1]  (.I(addr[1]), .O(addr_c_1));
    (* lineinfo="@2(2[27],2[31])" *) IB \addr_pad[0]  (.I(addr[0]), .O(addr_c_0));
    VHI i25 (.Z(VCC_net));
    
endmodule
